DATABASE_URL="postgresql://novadatabase_user:uczmq339femAJTxriuP1i8VdXdih565e@dpg-d9h6ihcvikkc73b7ckkg-a/novadatabase"
JWT_SECRET="your-super-secret-jwt-key-change-in-production"
JWT_EXPIRES_IN="7d"
PORT=5000
NODE_ENV=development
FRONTEND_URL="https://novawealthglobal.onrender.com"
BANK_NAME="palmpay"
BANK_ACCOUNT_NUMBER="8141948414"
BANK_ACCOUNT_NAME="Idowu Joshua"
REFERRAL_BONUS=500
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
EMAIL_FROM="leasivy@gmail.com"
